nav {
    display: flex;
    justify-content: space-between;
    background: #26a69a;
    color: #fff;
    padding: 10px 70px;
}

.btn-inline {
    border: none;
    outline: 0;
    background: #26a69a;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

h3 {
    cursor: pointer;
    font-size: 23px;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

