body {
    font-family: 'Roboto', sans-serif;
}

.hr-container {
    margin-top: 25px;
}

.header {
    margin-bottom: 20px;
}

button {
    font-size: 25px;
    cursor: pointer;
}

.delivered {
    margin-top: 50px;
}